@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Baloo+Tamma+2:600,700);
CSSResult Skip Results Iframe
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 100px;
  background-color: #2a83a2;
  padding: 20px;
}

.content .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.content .text {
  width: 300px;
  height: 56px;
  text-indent: 10px;
  border-radius: 10px;
  margin-right: 30px;
  font-size: 25px;
}

.content .save {
  letter-spacing: 3px;
  padding-left: 20px;
  padding-right: 20px;
  height: 56px;
  border-radius: 5px 50px 50px 5px;
  background-color: #60a1c7;
  color: white;
  border: solid 1px #2c4959;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .save:hover {
  background-color: #2c4959;
}

.list {
  background-color: #fbfaf5;
  margin: 0 auto;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 12px -2px black;
          box-shadow: 3px 3px 12px -2px black;
  height: 500px;
  overflow-y: scroll;
}

.list li {
  margin-left: 5px;
  font-size: 16px;
  line-height: 45px;
  border-bottom: 1px solid rgba(214, 118, 118, 0.861);
  color: #854141;
}

.list li a {
  text-decoration: none;
}

.list li a .del {
  margin-right: 20px;
  margin-top: 10px;
  float: right;
  height: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: -5px;
}

.list li a .del:hover {
  height: 24px;
}

.list-bg {
  background-color: #fff1cf;
  width: 500px;
  margin: 0 auto;
  padding: 32px;
}

.finished {
  text-decoration: line-through;
}

.check {
  height: 20px;
  margin-bottom: -5px;
  margin-right: 10px;
}

.confirm-finished {
  background-image: url(../images/check_box_black_24dp.svg);
  -webkit-box-sizing: 20px;
          box-sizing: 20px;
}
/*# sourceMappingURL=all.css.map */