.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 100px;
  background-color: #2a83a2;
  padding: 20px;
}
.content {
  .input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .text {
    max-width: 300px;
    height: 56px;
    text-indent: 10px;
    border-radius: 10px;
    margin-right: 30px;
    font-size: 25px;
  }
  .save {
    letter-spacing: 3px;
    padding-left: 20px;
    padding-right: 20px;
    height: 56px;
    border-radius: 5px 50px 50px 5px;
    background-color: #60a1c7;
    color: white;
    border: solid 1px #2c4959;
    transition: 0.3s;
    &:hover {
      background-color: #2c4959;
    }
  }
}
.list {
  background-color: #fbfaf5;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 12px -2px black;
  height: 500px;
  overflow-y: scroll;
  li {
    margin-left: 5px;
    font-size: 16px;
    line-height: 45px;
    border-bottom: 1px solid rgba(214, 118, 118, 0.861);
    color: rgb(133, 65, 65);
    a {
      text-decoration: none;
      

      .del {
        margin-right: 20px;
        margin-top: 10px;
        float: right;
        height: 20px;
        transition: 0.3s;
        margin-bottom: -5px;
        &:hover {
          height: 24px;
        }
      }
    }
  }
}
.list-bg {
  background-color: #fff1cf;
  max-width: 500px;
  margin: 0 auto;
  padding: 32px;
}
.finished {
  text-decoration: line-through;
}

.check {
  height: 20px;
  margin-bottom: -5px;
  margin-right: 10px;
}
.confirm-finished{
  background-image:url(../images/check_box_black_24dp.svg);
  box-sizing: 20px;
  
}
@media(max-width:576px){
  .input{
    flex-wrap: wrap;
  }
  .save{
    margin-top: 20px;
    border-radius:  50px !important;
  }
  .list{
    li{
      font-size: 14px;
    }
  }
}